.menuWrapper{
    width: 100%;
    height: 100vh;
    background-image: url('./../../assets/wallpapers/win11.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.bottomBar{
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 0;
    background: rgba(3,21,41,.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
}
.menuIconsWrapper{
    height: 100%;
    width: 100%;
    padding: 30px;
}
.menuIcons--calendar{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menuIconsWrapper--icon{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}
.menuIconsWrapper--calendarWrapper--text{
    margin-top: 5px;
    color: white;
    font-size: 10px;
    text-align: center;
}

//icons here:
.quakeIcon{
    background-image: url('./../../assets/icons/menu/q3.jpeg');
}
.calendarIcon{
    background-image: url('./../../assets/icons/menu/calendar.png');
}
.minecraftIcon{
    background-image: url('./../../assets/icons/menu/minecraft.png');
}
.vscodeIcon{
    background-image: url('./../../assets/icons/menu/vsc.png');
}
.iframeTest{
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
}
.iframeTopBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    background: rgba(3,21,41,.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    color: white;
}
.iframeTopBar-title{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
.testlogo{
    width: 18px;
    height: 18px;
    background-image: url('./../../assets/icons/menu/vsc.png');
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}
.windowClose{
    width: 20px;
    height: 20px;
    background-image: url('./../../assets/icons/window-close.png');
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
    filter: invert(1);
}
.okienko{
    width: 100%;
    height: calc(100% - 30px);
    border: none;
}