.menuWrapper{
    width: 100%;
    height: 100vh;
    background-image: url('./../../assets/wallpapers/wallpaper1.jpeg');
    background-position: center;
    background-size: cover;
}
.menuIconsWrapper{
    height: 100%;
    width: 100%;
    padding: 30px;
}
.menuIcons--calendar{
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.202);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.menuIconsWrapper--calendarWrapper--icon{
    width: 100%;
    height: 100%;
    background-image: url('./../../assets/icons/menu/calendar.png');
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}
.menuIconsWrapper--calendarWrapper--text{
    margin-top: 5px;
    color: white;
    font-size: 10px;
    text-align: center;
}