.mainWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
}
.mainScreen{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 35px);
    overflow: hidden;
}
.yearCalendar__wrapper{

    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}
.yearCalendar__header{
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}
.yearCalendar__wrapper--buttons{
    display: flex;
    flex-direction: row;
}
@mixin yearButton{
    width: 15px;
    aspect-ratio: 1;
    background-position: center;
    filter: invert(1);
    background-size: cover;
    margin: 2px;
    cursor: pointer;
}

.yearCalendar__wrapper--buttons--prevYear{
    @include yearButton;
    margin-right: 15px;
    background-image: url(./../../assets/icons/menu/icons8-previous-50.png);
}
.yearCalendar__wrapper--buttons--nextYear{
    @include yearButton;
    background-image: url(./../../assets/icons/menu/icons8-next-50.png);
}
.slider{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
.innerSlider{
    display: flex;
    flex-direction: row;
    overflow: initial;
    width: 100%;
    position: relative;
}
.mainWrapper{
    position: relative;
}
.focusedMonth{
    position: absolute;
    z-index: -9;
    width: 100%;
    transition: opacity 0.4s;
    opacity: 0;
}
.focusedMonthVisible{
    z-index: 9 !important;
    opacity: 1;
}
.contentOverlay{
    position: absolute;
    z-index: 29;
    width: 100%;
    height: 100%;
}
.contentWrapper{
    position: relative;
    min-width: 300px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentWrapper--backgroundd{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/background1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(50%);
}
.yearPickerHidden{
    opacity: 0;
}
