@mixin everyDay{
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(251, 251, 251);
    font-weight: 400;
    flex-shrink: 0;
    height: min-content;
    width: min-content;
}
.currentMonth{
    @include everyDay;
}
.everyDay:hover{
    font-weight: 400;
    background-color: rgb(139, 139, 139);
    color: rgb(255, 255, 255);
    border-radius: 50%;
}
.everyDay{
    @include everyDay;
}
.everyDay:first-child{
    color: rgb(253, 45, 45);
}
.today{
    @include everyDay;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    font-weight: 800;
    border-radius: 2px;

}
.emptyDay{
    @include everyDay;
}
.focused{
    font-size: 30px !important;
    aspect-ratio: 1;
}

@media (min-width: 250px) and (max-width: 900px){
    .everyDay, .today{
        font-size: 2.2vw;
    }
}
@media (min-height: 100px) and (max-height: 450px){
    .everyDay, .today{
        font-size: 1vw;
    }
}
@media (min-width: 1000px){
    .everyDay, .today{
        font-size: 1vh;
    }
    .focused{
        font-size: 15px !important;
    }
}